In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient('mongodb://localhost:27017')

In [3]:
print(client)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
db = client['fixed_fortune']

In [5]:
print(db)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'fixed_fortune')

In [6]:
collection = db['risk_data']

In [7]:
print(collection)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'fixed_fortune'), 'risk_data')

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('risk_data.csv')

In [10]:
df.head()

,asset_id,bond_price,coupon_rate,face_value,time_period,ytm,mdur,conv
0,ARG 6.0Y,98.801,4.697,100.0,6.0,0.049303,5.168817,31.377855
1,ARG 4.0Y,104.423,4.245,100.0,4.0,0.030617,3.673099,15.887687
2,ARG 5.0Y,103.319,3.918,100.0,5.0,0.031945,4.527254,23.802826
3,ARG 5.5Y,98.204,5.114,100.0,5.5,0.054968,4.728988,26.437124
4,ARG 8.5Y,102.546,4.729,100.0,8.5,0.043672,6.974447,57.632241

In [11]:
df.index

RangeIndex(start=0, stop=100, step=1)

In [12]:
df.iloc[1:7, :2]

   asset_id  bond_price
1  ARG 4.0Y     104.423
2  ARG 5.0Y     103.319
3  ARG 5.5Y      98.204
4  ARG 8.5Y     102.546
5  ARG 4.5Y      98.238
6  ARG 1.5Y     103.208

In [13]:
columns = df.columns

In [14]:
columns

Index(['asset_id', 'bond_price', 'coupon_rate', 'face_value', 'time_period',
       'ytm', 'mdur', 'conv'],
      dtype='object')

In [15]:
columns[0]

'asset_id'

In [16]:
mini_df = df.iloc[0:3, :]

In [17]:
mini_df

,asset_id,bond_price,coupon_rate,face_value,time_period,ytm,mdur,conv
0,ARG 6.0Y,98.801,4.697,100.0,6.0,0.049303,5.168817,31.377855
1,ARG 4.0Y,104.423,4.245,100.0,4.0,0.030617,3.673099,15.887687
2,ARG 5.0Y,103.319,3.918,100.0,5.0,0.031945,4.527254,23.802826

In [18]:
# db.collection.insert_many(mini_df.to_dict('records'))

In [19]:
for index, row in mini_df.iterrows():
    doc = {
        '_id': index, 
        columns[0]: row[columns[0]],
        columns[1]: row[columns[1]], 
        columns[2]: row[columns[2]], 
        columns[3]: row[columns[3]], 
        columns[4]: row[columns[4]], 
        columns[5]: row[columns[5]],
        columns[6]: row[columns[6]],
        columns[7]: row[columns[7]],
    }
    collection.insert_one(doc)

DuplicateKeyError: E11000 duplicate key error collection: fixed_fortune.risk_data index: _id_ dup key: { _id: 0 }, full error: {'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 0}, 'errmsg': 'E11000 duplicate key error collection: fixed_fortune.risk_data index: _id_ dup key: { _id: 0 }'}

In [20]:
mini_df

,asset_id,bond_price,coupon_rate,face_value,time_period,ytm,mdur,conv
0,ARG 6.0Y,98.801,4.697,100.0,6.0,0.049303,5.168817,31.377855
1,ARG 4.0Y,104.423,4.245,100.0,4.0,0.030617,3.673099,15.887687
2,ARG 5.0Y,103.319,3.918,100.0,5.0,0.031945,4.527254,23.802826

In [21]:
mini_df.drop('_id', axis = 1, inplace = True)

KeyError: "['_id'] not found in axis"

In [22]:
mini_df

,asset_id,bond_price,coupon_rate,face_value,time_period,ytm,mdur,conv
0,ARG 6.0Y,98.801,4.697,100.0,6.0,0.049303,5.168817,31.377855
1,ARG 4.0Y,104.423,4.245,100.0,4.0,0.030617,3.673099,15.887687
2,ARG 5.0Y,103.319,3.918,100.0,5.0,0.031945,4.527254,23.802826

In [23]:
mini_df.insert(0, "_id", mini_df.index, True)

In [24]:
mini_df

,_id,asset_id,bond_price,coupon_rate,face_value,time_period,ytm,mdur,conv
0,0,ARG 6.0Y,98.801,4.697,100.0,6.0,0.049303,5.168817,31.377855
1,1,ARG 4.0Y,104.423,4.245,100.0,4.0,0.030617,3.673099,15.887687
2,2,ARG 5.0Y,103.319,3.918,100.0,5.0,0.031945,4.527254,23.802826

In [25]:
df.insert(0, "_id", df.index, True)

In [26]:
df

,_id,asset_id,bond_price,coupon_rate,face_value,time_period,ytm,mdur,conv
0,0,ARG 6.0Y,98.801,4.697,100.0,6.0,0.049303,5.168817,31.377855
1,1,ARG 4.0Y,104.423,4.245,100.0,4.0,0.030617,3.673099,15.887687
2,2,ARG 5.0Y,103.319,3.918,100.0,5.0,0.031945,4.527254,23.802826
3,3,ARG 5.5Y,98.204,5.114,100.0,5.5,0.054968,4.728988,26.437124
4,4,ARG 8.5Y,102.546,4.729,100.0,8.5,0.043672,6.974447,57.632241
...,...,...,...,...,...,...,...,...,...
95,95,US 9.5Y,103.153,4.187,100.0,9.5,0.037887,7.827741,72.091945
96,96,US 4.5Y,97.610,4.629,100.0,4.5,0.052320,4.004829,18.908179
97,97,US 8.0Y,101.427,5.172,100.0,8.0,0.049538,6.509201,50.557614
98,98,US 9.0Y,103.279,3.707,100.0,9.0,0.032832,7.644379,67.760244
99,99,US 4.0Y,100.206,4.871,100.0,4.0,0.048138,3.597570,15.363533

In [27]:
collection.insert_many(df.to_dict('records'))

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 0}, 'errmsg': 'E11000 duplicate key error collection: fixed_fortune.risk_data index: _id_ dup key: { _id: 0 }', 'op': {'_id': 0, 'asset_id': 'ARG 6.0Y', 'bond_price': 98.801, 'coupon_rate': 4.697, 'face_value': 100.0, 'time_period': 6.0, 'ytm': 0.0493028098544456, 'mdur': 5.168816554516083, 'conv': 31.37785462237937}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [38]:
one = collection.find_one({'asset_id': 'ARG 6.0Y'}, {'_id': 0})

In [39]:
one

{'asset_id': 'ARG 6.0Y',
 'bond_price': 98.801,
 'coupon_rate': 4.697,
 'face_value': 100.0,
 'time_period': 6.0,
 'ytm': 0.04930280985444561,
 'mdur': 5.168816554516083,
 'conv': 31.37785462237937}

In [40]:
type(one)

dict

In [30]:
collection.delete_many({})

In [31]:
client.list_database_names()

['TodoList', 'admin', 'config', 'fixed_fortune', 'local', 'new_db']

In [34]:
list(collection.find())

[]

In [37]:
len(list(collection.find()))

0